@import url('https://v1.fontapi.ir/css/Samim');

body {
    background: url(../Images/background-image.jpg);
    direction: rtl;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.site {
    font-family: 'Samim', sans-serif;
    color: black;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

    .header img {
        width: 330px;
        height: 330px;
        margin: 22px;
    }

    .header h1 {
        margin: -10px 0px 70px 0px;
        font-size: 2.1875rem;
        font-weight: 400;
    }

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    background: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.10));
    padding: 20px;
    padding-right: 0px;
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

    .main #fmain {
        display: flex;
        flex-direction: row-reverse;
    }

    .main .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        line-height: 1.5;
        font-size: 1rem;
        margin: 0 auto;
    }

        .main .content h2 {
            font-weight: 500;
            color: white;
            border-radius: 18px;
            padding: 20px;
            box-shadow: 0px 0px 1px;
            border: 1px solid;
        }

            .main .content h2:nth-child(1) {
                margin: 40% 0px;
            }

            .main .content h2:nth-child(2) {
                margin-bottom: 32%;
            }

            .main .content h2:nth-child(3) {
                margin-bottom: 15%;
            }

    .main .form {
        text-align: center;
        margin: 40px auto 0 auto;
        width: 53%;
        display: flex;
        flex-direction: column;
        padding: 8%;
        border-left: 2px solid white;
    }

        .main .form div {
            display: flex;
        }

            .main .form div input {
                width: 100%;
            }

            .main .form div select {
                width: 50%;
                padding: 5px;
                direction: rtl;
                font-family: 'Samim', sans-serif;
                order: -1;
                height: 49px;
                border-radius: 10px;
                margin-left: 5px;
                border: 0px;
                background: white;
                color: black;
            }

            .main .form div:nth-child(3) select {
                direction: rtl;
            }

        .main .form input {
            text-align: center;
            margin-bottom: 30px;
            height: 47px;
            font-size: 0.875rem;
            color: black;
            border: 0px;
            background: white;
            font-family: 'Samim', sans-serif;
            transition: 0.5s;
            direction: ltr;
            border-radius: 10px;
        }

            .main .form input::placeholder {
                color: black;
                opacity: 0.7;
                direction: rtl;
            }

            .main .form input:nth-child(4): {
                background: green;
            }

        .main .form button {
            font-family: 'Samim', sans-serif;
            padding: 11px;
            margin-top: 15px;
            font-size: 1.5625rem;
            border: 0;
            transition: 0.5s;
            background: antiquewhite;
            border-radius: 10px;
        }

            .main .form button:hover {
                opacity: 0.7;
            }

        .main .form #loading {
            color: white;
            font-weight: 500;
            text-align: right;
            margin: 3% 0;
            border-right: 4px solid powderblue;
            padding: 3% 4%;
            background: gray;
        }

        .main .form #error {
            display: none;
            color: white;
            font-weight: 500;
            text-align: right;
            margin: 3% 0;
            border-right: 4px solid powderblue;
            padding: 3% 4%;
            background: darkred;
        }

    .main table {
        font-family: 'Samim', sans-serif;
        height: 177px;
        width: 80%;
        margin: auto;
        color: white;
        font-size: 0.941rem;
        margin-top: 45px;
    }

        .main table tr th {
            font-weight: 500;
            width: 20%;
        }

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background: lightslategrey;
    margin-top: 60px;
}

    .footer h2 {
        font-weight: 100;
        font-family: 'Samim', sans-serif;
        font-size: 1.5625rem;
        color: white;
    }

    .footer .social {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

        .footer .social a {
            font-size: 60px;
            margin-left: 30px;
            color: aqua;
            transition: 0.7s;
        }

            .footer .social a:hover {
                transform: rotate(360deg);
            }

@media screen and (max-width:1300px) {
    .main {
        width: 70%;
    }
}

@media screen and (max-width:1300px) {
    .main {
        width: 75%;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 15px;
    }

    .main {
        width: 85%;
    }
}

@media screen and (max-width: 850px) {
    .main {
        width: 90%;
    }
}

@media screen and (max-width: 850px) {
    .main {
        width: 92%;
    }

        .main #fmain {
            flex-direction: column;
        }

        .main .form {
            border-left: 0px;
            width: 78%;
        }

        .main table {
            width: 90%;
        }

        .main .content h2 {
            padding-right: 60px;
            padding-left: 60px;
        }
}

@media screen and (max-width: 650px) {
    .main .form {
        width: 88%;
    }
}

@media screen and (max-width: 550px) {
    .header h1 {
        font-size: 1.60rem;
    }
}

@media screen and (max-width: 410px) {
    .header h1 {
        font-size: 1.32rem;
    }
}

@media screen and (max-width:392px) {
    .header img {
        width: 250px;
        height: 250px;
        margin: 22px;
    }
}

@media screen and (max-width:350px) {
    .header img {
        width: 210px;
        height: 210px;
        margin: 22px;
    }
}
